<?xml version="1.0" encoding="utf-8"?>
<Package 
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6" 
  IgnorableNamespaces="uap mp uap6">
  <Identity Name="09dfaa71-b4c8-43f3-b7a6-da42e289199f" Publisher="CN=romikh" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="09dfaa71-b4c8-43f3-b7a6-da42e289199f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BasicCaptureSample</DisplayName>
    <PublisherDisplayName>romikh</PublisherDisplayName>
    <Logo>Assets\Tiles\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BasicCaptureSample.App">
      <uap:VisualElements DisplayName="BasicCaptureSample" Square150x150Logo="Assets\Tiles\Square150x150Logo.png" Square44x44Logo="Assets\Tiles\Square44x44Logo.png" Description="BasicCaptureSample" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Tiles\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Tiles\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap6:Capability Name="graphicsCapture" />
  </Capabilities>
</Package>